[submodule "bundle/The-NERD-Commenter"]
	path = bundle/The-NERD-Commenter
	url = git://github.com/vim-scripts/The-NERD-Commenter.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
